<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link sel="stylecheet" href="/static/css/registro.css">

</head>
<body>
<div class="caja__registro">
    <h1>Crea una cuenta</h1>
<input type="text" name="Nombre" placeholder="Nombre"/>
<input type="text" name="Apellido" placeholder="Apellido"/>
<input type="text" name="Correo" placeholder="Correo"/>
<input type="text" name="Contraseña" placeholder="Contraseña"/>
    <button class="btn__registro">Registrate</button>
</div>
</body>
</html>